<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", id: "form_for_micropost" %>
  </div>
  <span id="remaining_characters"></span>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  <script>
var maxchar = 140;
var i = document.getElementById("form_for_micropost");
var c = document.getElementById("remaining_characters");

i.addEventListener("keyup",count);

function count(e){
  var len =  i.value.length;
  if (len > maxchar){
    c.innerHTML = '<font color="red">Text too long by ' + (len - maxchar) + ' characters.</font>'; 
  }
  else{
    c.innerHTML = (maxchar - len) + " characters left";
  }
}
  </script>
<% end %>
